<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sanatgalerisi">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SanatGalerisi"
        tools:targetApi="31">
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Gothic Gallery Activity -->
        <activity android:name=".GothicGalleryActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/> <!-- Surrealism Gallery Activity -->
        <activity android:name=".SurrealismGalleryActivity" android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Renaissance Gallery Activity -->
        <activity android:name=".RenaissanceGalleryActivity" android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Realism Gallery Activity -->
        <activity android:name=".RealismGalleryActivity" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".BaroqueGalleryActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".ArtCreationActivity" android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />




</manifest>